<div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">
        <p>Welcome</p>
    <button mat-raised-button color="primary" type="button" (click)="logOut()">Log Out</button>
    </div>
</div>