<div style="text-align: center;">
  <div style="display: inline-block; text-align: left;">
    <h1 fon>Sign In</h1>

    <!-- Email input box with email + required validator -->
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" 
        [(ngModel)]="email" placeholder="email">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
    </form>

  <br>
  
  <!-- Password input box with minLength(8 defined by firebase) + required validator -->
  <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
      <mat-error *ngIf="passwordFormControl.hasError('minlength') && !emailFormControl.hasError('required')">
        Please enter a valid password
      </mat-error>
      <button mat-icon-button matSuffix 
      (click)="hide = !hide" [attr.aria-label]="'Hide password'" 
      [attr.aria-pressed]="hide">
      <!-- Password visibility icon (eye icon) -->
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <br>
    <br>
    <br>

    <button mat-raised-button color="primary" type="button" (click)="submitSignIn()">Sign In</button>
    <br>
    <br>
    <button mat-raised-button color="primary" type="button" (click)="signUp()">Don't have an account?</button>
  </div>
</div>